@model BankAutomationSystem2.Models.User

@{
    ViewBag.Title = "Details";
}


<link href="@Url.Content("~/Content/DetailsStyle.css")" rel="stylesheet" type="text/css" />

<center id="Demo"><h2>Wizzie Bank</h2></center>

<div id="Media" class="login_page">
    <div class="form">
        <div>
            <dt>
                @Html.DisplayFor(model => model.FirstName)   @Html.DisplayFor(model => model.LastName)
            </dt>
            <hr />
            <dl class="card-body">
                <dt>
                    @Html.LabelFor(model => model.AccountNo) :  @Html.DisplayFor(model => model.AccountNo)
                </dt>

                <dt>
                    @Html.DisplayNameFor(model => model.Contact) :  @Html.DisplayFor(model => model.Contact)
                </dt>

                <dt>
                    @Html.DisplayNameFor(model => model.Email) : @Html.DisplayFor(model => model.Email)
                </dt>
                <dt>
                    @Html.DisplayNameFor(model => model.Balance) : @Html.DisplayFor(model => model.Balance)
                </dt>
            </dl>
        </div>
        <p id="link">
            @Html.ActionLink("Edit", "Edit", new { id = Model.UserId }) |
            @Html.ActionLink("Withdraw", "Withdraw", new { id = Model.UserId }) |
            @Html.ActionLink("Deposite", "Deposite", new { id = Model.UserId }) |
            @Html.ActionLink("Logout", "Login", "Login")
        </p>
        </div>
</div>